<!DOCTYPE html>
<%- include('partials/head.ejs') %>

<head>
  <title>Home</title>
</head>

<body>


  <section class="container">

    <section class="headerContainer">
      <img class="logo" src="../public/img/logo.svg" alt="logo">
      <h1>Trainr</h1>
    </section>

    <a href="/login"> <button class="button">Go to Login</button></a>


  </section>


  <script src="" async defer></script>
</body>

</html>
