<!DOCTYPE html>
<%- include('partials/head.ejs') %>
    <head>
        <title>Home</title>
    </head>
    <body>
        
        
        <section class="container">
            
            <h1>Trainr</h1>
            <a href="/login"> <button class="button">Go to Login</button></a>
           

        </section>
       
        
        <script src="" async defer></script>
    </body>
</html>