<!DOCTYPE html>
<%- include('partials/head.ejs') %>

<head>
  <title>Login</title>
</head>

<body>
  <section class="container">

    <section class="headerContainer">
      <img class="logo" src="../public/img/logo.svg" alt="logo">
      <h1>Login</h1>
    </section>

    <div class="formStyle">

      <form action="/login" method="POST">
        <!-- Legend and fieldset here also hidden for accessibility -->
        <fieldset class="flexForm">

          <legend>Log in</legend>

          <label class="flexForm">Username
            <input class="username" type="text" name="username" required>
          </label>

          <label class="flexForm">Password
            <input class="password" type="password" name="password" required>
          </label>

          <button class="button" type="submit"> Login</button>

        </fieldset>

      </form>

      <p>New here?</p>
      <a href="/register"><button class="button">Register</button></a>
    </div>
  </section>
  <script src="" async defer></script>

</body>

</html>
