/* desktop resolution */

body{
    font-family: acumin-pro,sans-serif;
    background-image: url("/public/img/background.jpg");
    margin :0;
    height: 100%;
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    }

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    font-size: 5em;
    font-weight: 700;
    font-style: bold;
}

p{
    color: white;
}

.button{
    background-color: #E7EBEE;
    border: none;
    
    padding: 1em 2em;

    text-align: center;
    text-decoration: none;
    font-size: 1em;

    opacity: 0.5;
    transition: 0.3s;

    cursor: pointer;

    margin-top: 1em;
    margin-bottom: 0.5em;
}



.button:hover{
opacity: 1;
}

label{
    margin-top: 0.05em;
    color: rgb(189, 186, 186);
    font-weight: 500;
    font-size: 1.2em;
}

.flexForm{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formStyle{
    background-color: #4B4B4B;   
    padding: 1.25em;
    margin:1em;
}

.username{
    background-color: #4B4B4B;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: none;
    border-color: rgb(189, 186, 186);
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding-right: 4em;
    
}

.password{
    background-color: #4B4B4B;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: none;
    border-color: rgb(189, 186, 186);
    margin-top: 0.5em;
    margin-bottom: 2em;
    padding-right: 14em;
    
}

h2{
    color:white;
}